.gallery{
    background-color: #ECECEC;
    padding: 30px;
}
.gallery__image{

}
.gallery__arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    height: 50px;
    width: 50px;
    border: 0px;
}